<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.serialcoders.moneymanager"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.serialcoders.moneymanager.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.serialcoders.moneymanager.Login"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.serialcoders.moneymanager.LoginSuccess"
            android:label="@string/title_activity_login_success" >
        </activity>
        <activity
            android:name="com.serialcoders.moneymanager.RegisterUser"
            android:label="@string/title_activity_register_user" >
        </activity>
        <activity
            android:name="com.serialcoders.moneymanager.UserAccountActivity"
            android:label="@string/title_activity_user_account" >
        </activity>
        <activity
            android:name="com.serialcoders.moneymanager.AdminAccountActivity"
            android:label="@string/title_activity_admin_account" >
        </activity>
        <activity
            android:name="com.serialcoders.moneymanager.CreateAccount"
            android:label="@string/title_activity_create_account" >
        </activity>
        <activity
            android:name="com.serialcoders.moneymanager.FinancialAccount"
            android:label="@string/title_activity_financial_account" >
        </activity>
        <activity
            android:name="com.serialcoders.moneymanager.DepositActivity"
            android:label="@string/title_activity_deposit" >
        </activity>
        <activity
            android:name="com.serialcoders.moneymanager.WithdrawActivity"
            android:label="@string/title_activity_withdraw" >
        </activity>
    </application>

</manifest>
